{
    "useTabs": true,
    "printWidth": 80,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": none,
    "parser": typescript,
    "noSemi": false,
    "rcVerbose": true,
    "bracketSpacing": false
}
