{
    "useTabs": true,
    "printWidth": 100,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": none,
    "parser": babylon,
    "noSemi": false,
    "rcVerbose": true,
    "bracketSpacing": true
}
